.Form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
}
.Form > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-xs);
  padding: 0.5rem;
  border: 1px solid #ffffff1a;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.15s;
}
.Form > button:hover {
  filter: brightness(0.9);
}
.Form .loading {
  transform: rotate(160deg);
  display: flex;
  width: fit-content;
  animation: 1s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    /* returns the sun to its default position */
    transform: rotate(360deg);
  }
}