.projectCard{
  display: flex;
  align-items: center;
  gap: 32px;
  text-align: left;
}
.projectCard h3{
  font-family: Gotham-Bold;
  font-size: 32px;
  padding: 0;
  margin: 0;
}
.projectCard p {
  font-size: 16px;
  line-height: 1.3em;
  margin: 12px 0;
}
.projectCard header{
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.projectCard aside{
  padding: 0 12px;
}
.projectCard aside img{
  object-fit: contain;
  max-height: 40vh;
  width: 30vw;
}
.projectCard footer{
  display: flex;
  align-items: center;
  gap: 12px;
}
.projectCard footer a > svg{
  opacity: 0.8;
  width: 38px;
  height: 38px;
  transition: opacity 0.2s;
}
.projectCard footer a:first-child > svg{
  fill: #fff;
}
.projectCard footer a:last-child > svg path{
  stroke: #fff;
}
.projectCard footer a > svg:hover{
  opacity: 1;
}
@media(max-width: 620px){
  .projectCard{
    flex-direction: column-reverse;
  }
}