.infoBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.infoBar div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 25%;
}
.infoBar div:nth-child(2){
    text-align: start;
    width: 72%;
}
.infoBar div:nth-child(2) h1{
    font-size: 1em;
    font-family: Geist-Bold;
    margin: 0;
}
.infoBar div:nth-child(2) h2{
    font-size: 0.7em;
    font-family: Geist-Bold;
    margin: 0;
}
.infoBar div:nth-child(2) sub{
    font-size: 0.6em;
}
.infoBar div:nth-child(2) p{
    font-size: 0.8em;
}