/*HOME PARENT*/
.sectionMain{
    width: 100%;
}
.sectionSecondary{
    background: linear-gradient(to top, rgb(22, 22, 35) 99%, transparent) ;
    width: 80%;
    padding: 0 10%;
}
.sectionTertiary{
    background: rgb(248, 147, 29);
    width: 80%;
    padding: 0 10%;
}
.sectionQuaternary{
    background: rgb(22, 22, 35);
    width: 80%;
    padding: 0 10%;
}
/*PRESENTATION*/
.sectionPresentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    min-height: calc(100vh - 200px);
    padding: 100px 10vw 0 10vw;
}
.sectionPresentation h1{
    font-family: Geist-Bold;
    font-size: 3rem;
    margin: 0.2em 0;
}
.sectionPresentation p, .sectionPresentation sub{
    font-size: 1rem;
    line-height: 1.5;
}
.sectionPresentation p > b{
    font-family: Geist-Bold;
}
/*EXPERIENCE*/
.sectionExperience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20vh 0;
}
.sectionExperience h2{
    font-family: Geist-Bold;
    margin-bottom: 2em;
    font-size: 2rem;
}
/*SKILLS*/
.sectionSkills{
    min-height: 100vh;
}
.sectionSkills h2{
    font-family: Geist-Bold;
    font-size: 2rem;
}
/*Section projects*/
.sectionProjects{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}
.sectionProjects h2{
    font-family: Geist-Bold;
    font-size: 2rem;
    margin-bottom: 0.3em;
}
.repositoriesLink{
    margin-bottom: 5em;
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;
}
.repositoriesLink:hover{
    color: rgb(255, 255, 255);
}
/*CONTACT*/
.sectionContact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionContact h2{
    font-family: Geist-Bold;
    font-size: 2rem;
    margin-bottom: 0.3em;
}
.sectionContact sub{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}
.sectionContact div{
    margin-top: 2em;
    display: flex;
    align-items: center;
}
.svgLinkedin, .svgGithub{
    fill: rgb(248, 147, 29);
    transition: fill 0.3s;
    width: 60px;
    height: 60px;
    margin: 0 15px;
}
.svgGithub{
    width: 70px;
    height: 70px;
}
.svgGithub:hover{
    fill: #fff;
}
.svgLinkedin:hover{
    fill: #0b67c3;
}