.infoBarButton{
  background-color: rgba(255, 255, 255, 0.03);
  border: none;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  font-family: Geist;
  font-size: 1rem;
  padding: .4em 0;
  transition: 0.4s all;
}
.infoBarButton:hover{
  background: rgba(248, 147, 29, 0.2);
  color: rgb(248, 147, 29);
}