.hoverIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.hoverIcon svg {
  filter: brightness(0) invert(1);
  width: 100%;
  height: 100%;
  transition: filter 0.2s, transform 0.2s;
}

.hoverIcon:hover svg {
  filter: none;
  opacity: 1;
  transform: scale(1.1);
}