@font-face {
  font-family: Gotham;
  src: url(./fonts/GothamBook.ttf);
}
@font-face {
  font-family: Gotham-Bold;
  src: url(./fonts/GothamBlack.otf);
}
@font-face {
  font-family: Geist;
  src: url(./fonts/Geist-Regular.otf);
}
@font-face {
  font-family: Geist-Bold;
  src: url(./fonts/Geist-Black.otf);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Geist;
  margin: 0;
}