:root{
  /* Dark */
    /* Color */
    --dark-color-primary: rgb(248, 147, 29);
    --dark-color-secondary: rgb(22, 22, 35);
    --dark-color-textPrimary: white;
    --dark-color-textSecondary: #fff9;
    --dark-color-textTertiary: rgb(248, 147, 29);
    --dark-color-textQuaternary: rgb(254 202 202);

  /* General */
  --color-primary: var(--dark-color-primary);
  --color-secondary: var(--dark-color-secondary);
  --color-textPrimary: var(--dark-color-textPrimary);
  --color-textSecondary: var(--dark-color-textSecondary);
  --color-textTertiary: var(--dark-color-textTertiary);
  --color-textQuaternary: var(--dark-color-textQuaternary);
  --color-white: #ffffff;

  /* Font */

  --font-xl: 1.8rem;
  --font-lg: 1.5rem;
  --font-md: 1.25rem;
  --font-sm: 1rem;
  --font-xs: 0.8rem;
}