nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 48px);
    padding: 0 24px;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 14px;
    background-color: rgba(22, 22, 35, 0.3);
    border-bottom: 1px solid rgba(124, 124, 124, 0.1);
    backdrop-filter: blur(20px);
}
nav > a {
    color: rgb(248, 147, 29)
}
nav > ul {
    backdrop-filter: blur(10000px);
    padding: 0px 8px;
}