.navContainer{
    z-index: 5;
    position: fixed;
    top: calc(-2em - 1px);
    height: 4em;

}
.navBar{
    background-color: rgba(51, 51, 51, 0.7);
    border-bottom: 1px solid rgba(124, 124, 124, 0.4);
    width: 100vw;
    height: 2em;
    position: sticky;
    top: calc(-2em - 1px);
}